@import url('https://fonts.googleapis.com/css?family=Francois+One|Acme|Fresca|Lato|Black+Han+Sans|Indie+Flower|Roboto|Poppins|Libre+Baskerville');


html { font-size: 1rem;
}

@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
   
}
@media (min-width: 1200px) {
    
}

body {
    position: relative;
    color: #555F61;
    line-height: 1.61803398875;
    max-width: 1920px;
    margin:0 auto;
    overflow-x: hidden;
}


/* Font-Family | Main color Style start */

h1, h2, h3, h4, h5, h6{
    font-family:'Fresca' !important
}
span,
p, li:not(.nav-item) {
    font-family: 'Lato';
}

p{
    padding-left: 5px;
    padding-right: 5px;
}

.text-success{
    color:rgba(57, 211, 58, 1) !important;
}

.text-warning{
    color:rgba(254, 212, 42, 1) !important;
}

.text-danger{
    color:rgba(254, 0, 0, 1) !important;
}


rgba(254, 0, 0, 1) 0, rgba(254, 0, 0, 1) 33%, rgba(254, 212, 42, 1) 33%, rgba(254, 212, 42, 1) 66%, rgba(57, 211, 58, 1) 66%, rgba(57, 211, 58, 1) 100%);



/* Font-Family Style end */


/* NAVBAR + Header start */

.header-main > .row {
    margin: 0;
}

.header-main #logo img {
    width: 60%;
}

.header-main #slogan {
    font-family: Fresca;
    font-size: 3rem;
}

/* logo social start */

.header-main .social-logo a:nth-child(1) i,
.footer .social-logo a:nth-child(1) i {
    color: hsl(221, 44%, 41%);
}

.header-main .social-logo a:nth-child(1) i:hover,
.footer .social-logo a:nth-child(1) i:hover {
    color: hsl(221, 44%, 46%);
    transform: translateY(-2px) !important;
    
        
}

.header-main .social-logo a:nth-child(2),
.footer .social-logo a:nth-child(2) {
    color: hsl(203, 89%, 53%);
}

.header-main .social-logo a:nth-child(2) i:hover,
.footer .social-logo a:nth-child(2) i:hover {
    color: hsl(203, 89%, 58%);
    transform: translateY(-2px) !important
}

.header-main .social-logo a:nth-child(3),
.footer .social-logo a:nth-child(3) {
    color: hsl(0, 100%, 50%);
}

.header-main .social-logo a:nth-child(3) i:hover,
.footer .social-logo a:nth-child(3) i:hover {
    color: hsl(0, 100%, 67%);
    transform: translateY(-2px) !important
}

    /* logo social end*/

.navbar {
    font-family: Fresca;
    /* if change, need to check navbar scroll fun line 170 */
    transition: all 0.3s ease-out;
    z-index: 9999;
}


/* gestion du responsive bugfixe */

@media (max-width:767.5px) {
    .navbar {
        margin-top: -120px;
        position: relative !important;

    }
}

@media (max-width:530px) {
    .navbar {
        margin-top: -100px;
        position: relative !important;
    }
}

@media (max-width:400px) {
    .navbar {
        margin-top: -80px;
        position: relative !important;
    }
}

/* handle the dropdown and affix // recalcul the height */

@media (max-width:768px) {
    .hide-all {
        max-height: 111.8px;
    }
}

@media (max-width:529px) {
    .hide-all {
        max-height: 88.9px;
    }
}

@media (max-width:400px) {
    .hide-all {
        max-height: 77px;
    }
}

/* gestion du responsive bugfixe close */

.affix {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10005;
}

/* fixed to top styles */

.affix.navbar {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid red;
}

.affix.navbar .nav-item > a,
.affix.navbar .navbar-brand {
    color: ;
}



.navbar-nav .dropdown-item:active,
.navbar-nav .dropdown-item:focus{
   background-color: white;
}

.navbar-nav .dropdown-item.active{
   background-color: white;
    color:black;
}

@media (min-width: 768px) {
    .navbar-custom .dropdown:hover > .dropdown-menu {

        animation: fadeIn .5s;
        display: block;
        visibility: visible;
    }


    .navbar-custom {
        background-color: white;
        font-family: Fresca;
        font-size: 1.05rem;
        text-transform: uppercase;

    }
    
    .dropdown .nav-link{
    pointer-events: none; /* Prevent a href dropdown menu to be clicked */
    
    }
    
    .navbar-custom .dropdown-menu {
        font-family: Fresca;
        font-size: .90rem;
        margin-top: -2px;
    }

    .navbar-custom .dropdown-presentation{
        background-color: hsl(0, 100%, 67%);
        border-radius:0 2.5px 5px 5px;
        border-left:1px solid hsl(0, 100%, 67%);
        border-right:1px solid hsl(0, 100%, 67%);
        border-top:none;
        border-bottom:none;
    }
    
    .navbar-custom .dropdown-wombere-france{
        background-color: hsl(48, 99%, 58%);
        border-radius:0px 5px 5px 5px;
        border-left:1px solid hsl(48, 99%, 58%);
        border-right:1px solid hsl(48, 99%, 58%);
        border-top:none;
        border-bottom:none;
    }
    
    
    .navbar-custom .dropdown-wombere-guinee{
        background-color: hsl(120, 64%, 53%);
        border-radius:0px 5px 5px 5px;
        border-left:1px solid hsl(120, 64%, 53%);
        border-right:1px solid hsl(120, 64%, 53%);
        border-top:none;
        border-bottom:none;
    }
    
    
    .navbar-custom .dropdown-handicapable{
        background-color: hsl(203, 89%, 56%);
        border-radius:0px 2.5px 5px 5px;
        border-left:1px solid hsl(203, 89%, 56%);
        border-right:1px solid hsl(203, 89%, 56%);
        border-top:none;
        border-bottom:none;
    }

    .navbar-custom .dropdown-action {
       background-color: hsl(192, 15%, 95%);
        border-radius:0 0px 5px 5px;
        border-left:1px solid hsl(192, 15%, 95%);
        border-right:1px solid hsl(192, 15%, 95%);
        border-top:none;
        border-bottom:none;
    }
    
    .navbar-custom .dropdown-action .dropdown-item:hover {
       background-color: hsl(192, 15%, 100%);
        border-radius:0 0px 5px 5px;
        border-left:1px solid hsl(192, 15%, 100%);
        border-right:1px solid hsl(192, 15%, 100%);
        border-top:none;
        border-bottom:none;
    }
    
    #dropdown04{
        height: 100%;
    }
    
    }


    
    .navbar-custom .dropdown-item:hover,
    .navbar-custom .dropdown-item:focus {
        color: #333333;

    }

    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(0, 0, 0, .7);
    }

    /* change the color of active or hovered links */
    
    .navbar-custom .nav-item:nth-child(1) .nav-link .fas {
        
        transition: all .8s ease;
    }
    
    .nav-item.active .fa-home{
        background-color: black;
        border-radius: 3px;
        color:white;
        padding:3px;
        transform: scale(1.2)
    }
 
    .navbar-custom .nav-item:nth-child(1):hover .nav-link .fas {

        /*background: linear-gradient(to right, rgba(0, 0, 255, .7) 0, rgba(0, 0, 255, .7) 33.33%, rgba(255, 255, 255, .7) 33.33%, rgba(255, 255, 255, .7) 66.66%, rgba(255, 0, 0, .7) 66.66%, rgba(255, 0, 0, .7) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;*/
        transform: scale(1.2);
        transition: transform .8s ease;
    }


    .navbar-custom .nav-item.active:nth-child(2) .nav-link,
    .navbar-custom .nav-item:nth-child(2):hover .nav-link {
        background-color: hsl(0, 100%, 67%);
        color: black;

    }
    .navbar-custom .nav-item.active:nth-child(3) .nav-link,
    .navbar-custom .nav-item:nth-child(3):hover .nav-link {
        background-color: hsl(48, 99%, 58%);
        color: black;
    }
    .navbar-custom .nav-item.active:nth-child(4) .nav-link,
    .navbar-custom .nav-item:nth-child(4):hover .nav-link {
        /* linked to .dropdown-wombere above */
        background-color: hsl(120, 64%, 53%);
        color: black;
    }
    .navbar-custom .nav-item.active:nth-child(5) .nav-link,
    .navbar-custom .nav-item:nth-child(5):hover .nav-link {
        background-color: hsl(203, 89%, 53%);
        color: black;
    }
    .navbar-custom .nav-item.active:nth-child(6) .nav-link,
    .navbar-custom .nav-item:nth-child(6):hover .nav-link {
        background-color: hsl(192, 15%, 95%);
        color: black;
    }
    .navbar-custom .nav-item.active:nth-child(7) .nav-link,
    .navbar-custom .nav-item:nth-child(7):hover .nav-link {
        /* linked to .dropdown-alseny above */
        background-color: hsl(0, 100%, 67%);
        color: black;
    }
    .navbar-custom .nav-item.active:nth-child(8) .nav-link,
    .navbar-custom .nav-item:nth-child(8):hover .nav-link {
        background-color: orange;
        color: black;
    }



@media (max-width: 767px) {

    .navbar-toggler {
        min-height: 50px;
        min-width: 50px;
    }

    .navbar-toggler-icon {
        width: 25px;
    }
    
    .dropdown-item{
        font-size:.9em;
    }
    
    .dropdown-item{
        text-align: center;
    }

.dropdown .nav-link::after {
    content: "\00a0\00a0 \f150";
    font-family: Font Awesome\ 5 Free;
    font-weight: 100
}
}

/* ANIMATED UP ARROW on xs start*/

.navbar-light .navbar-toggler-icon {
    transition: all .5s ease-out;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxEAAAsRAX9kX5EAAAGHSURBVDhPxZRLa8JAFIVPosbHTlBxoaAgcaeuXIou/NkByU7wtfI3+CAbQXzb9twmqWnHSQtCD0wedzLfnDt3Msbbh/BCmf79ZYp1uNlsMJlMkEql0Ov1kE6n/R61tA7X6zWm0ylyuRySySRc18XtdvN71XoK3G63mM/nyGazMAwDpmkKdDQaQZeUMuXVaoXFYoFMJiOwR93vd3E5GAyQSCT86Jd+OAycqWAUnRL0zGnEIddMB3sUnbL1+/2I09ChCva9AJw7iNEpm+M4OJ1OEqME6HkeZrNZBMaPisViCAgSKRQKOJ/P8kygZVmS/vV6/YzxQlhQTep4PMK2bTSbzYjLy+WCVqslEwVQjmH1l8ulvAuwXq8LhC4Oh4PAarWaxFTqdDoolUqSBccQXq1WpU+AjUZDIHTAOyeIU7vdRrlclgy63S7y+bzEtb/ebrfDeDyWdeJnnHA4HPq9aoVVfpX+F6hZnVBaILcDK8m1Y/sNMPY83O/38hdxv1UqFTkXdYoF/k3AO4ZN14B1QChWAAAAAElFTkSuQmCC');
    transform: rotate(-360deg);


}

/* ANIMATED UP ARROW end*/


/*scrollbar fun start */
@media (min-width:830px) {
    
    .scroll-progress-container {
        background-color: transparent;
        height: 3px;
        left: -.5em;
        position: absolute;
        top: 3.35em;
        width: 100%;
    }

    .scroll-progress {
        background-image: linear-gradient(to right, rgba(254, 0, 0, .95) 0, rgba(254, 0, 0, .95) 33%, rgba(254, 212, 42, .95) 33%, rgba(254, 212, 42, .95) 66%, rgba(57, 211, 58, .95) 66%, rgba(57, 211, 58, .95) 100%);
        height: 3.5px;
        width: 0px;
    }
}

@media (max-width:829px) {
    .scroll-progress-container {
        background-color: transparent;
        height: 3px;
        left: 0em;
        position: absolute;
        top: 5em;
        width: 102%;

    }

    .scroll-progress {
        background-image: linear-gradient(to right, #FE0000 0, #FE0000 33%, #FED42A 33%, #FED42A 66%, #39D33A 66%, #39D33A 100%);
        height: 3.5px;
        width: 0px;
    }
}

/*scrollbar fun end*/

/* Fin navbar end*/


/* components on multi pages (ex: HR / ) start */

/* iframe responsive */
iframe, object, embed {
        max-width: 100%;
        max-height: 100%;
}

hr{
    width:80%;
    height: 1px;
    color:black;
}

.hr-guinea-flag{
       background-image: linear-gradient(to bottom, rgba(254, 0, 0, .8) 0, rgba(254, 0, 0, .8) 33.33%, rgba(254, 212, 42, .8) 33.33%, rgba(254, 212, 42, .8) 66.66%, rgba(57, 211, 58, .8) 66.66%, rgba(57, 211, 58, .8) 100%);
        height: 2em; 
}

.hr-guinea-flag-small{
    background-image: linear-gradient(to bottom, rgba(254, 0, 0, .8) 0, rgba(254, 0, 0, .8) 33.33%, rgba(254, 212, 42, .8) 33.33%, rgba(254, 212, 42, .8) 66.66%, rgba(57, 211, 58, .8) 66.66%, rgba(57, 211, 58, .8) 100%);
        height: 2em; 
}

.hr-guinea-flag-reverse{
       background-image: linear-gradient(to top, rgba(254, 0, 0, .8) 0, rgba(254, 0, 0, .8) 33.33%, rgba(254, 212, 42, .8) 33.33%, rgba(254, 212, 42, .8) 66.66%, rgba(57, 211, 58, .8) 66.66%, rgba(57, 211, 58, .8) 100%);
        height: 4em; 
}


.hr-france-flag{
       background-image: linear-gradient(to bottom, rgba(0, 0, 254, .8) 0, rgba(0, 0, 254, .8) 33.33%, rgba(255,255,255, .8) 33.33%, rgba(255,255,255, .8) 66.66%, rgba(254, 0, 0, .8) 66.66%, rgba(254, 0, 0, .8) 100%);
        height: 4em; 
}
/* components on multi pages (ex: HR / ) end */


/* bugfix general (AOS, ...) start*/
    /* class tinymce problem */
        figcaption{
            text-align: center;
        }


/* bugfix general end*/


/*****************************
    Page Accueil Wombere start
*****************************/

/* Loader gif - Icone chargement à la premiere visite start */

.preload-icon {
    background-color: white;
    font-size:1.5em;
	height: 100%;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 99999999;
    position: fixed;
}

.preload-icon .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preload-icon .bubblingG {
	text-align: center;
	width:390px;
	height:244px;
	margin: auto;
}

.preload-icon .bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin: 122px auto;
	background: rgb(18,227,21);
	border-radius: 244px;
		-o-border-radius: 244px;
		-ms-border-radius: 244px;
		-webkit-border-radius: 244px;
		-moz-border-radius: 244px;
	animation: bubblingG 1.235s infinite alternate;
		-o-animation: bubblingG 1.235s infinite alternate;
		-ms-animation: bubblingG 1.235s infinite alternate;
		-webkit-animation: bubblingG 1.235s infinite alternate;
		-moz-animation: bubblingG 1.235s infinite alternate;
}

.preload-icon #bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

.preload-icon #bubblingG_2 {
	animation-delay: 0.3695s;
		-o-animation-delay: 0.3695s;
		-ms-animation-delay: 0.3695s;
		-webkit-animation-delay: 0.3695s;
		-moz-animation-delay: 0.3695s;
}

.preload-icon #bubblingG_3 {
	animation-delay: 0.739s;
		-o-animation-delay: 0.739s;
		-ms-animation-delay: 0.739s;
		-webkit-animation-delay: 0.739s;
		-moz-animation-delay: 0.739s;
}



@keyframes bubblingG {
	0% {
		width: 40px;
		height: 40px;
		background-color:rgb(255,0,26);
		transform: translateY(0);
	}

	100% {
		width: 100px;
		height: 100px;
		background-color:rgb(242,226,8);
		transform: translateY(-102px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 40px;
		height: 40px;
		background-color:rgb(255,0,26);
		-o-transform: translateY(0);
	}

	100% {
		width: 100px;
		height: 100px;
		background-color:rgb(242,226,8);
		-o-transform: translateY(-102px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 40px;
		height: 40px;
		background-color:rgb(255,0,26);
		-ms-transform: translateY(0);
	}

	100% {
		width: 100px;
		height: 100px;
		background-color:rgb(242,226,8);
		-ms-transform: translateY(-102px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 40px;
		height: 40px;
		background-color:rgb(255,0,26);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 100px;
		height: 100px;
		background-color:rgb(242,226,8);
		-webkit-transform: translateY(-102px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 40px;
		height: 40px;
		background-color:rgb(255,0,26);
		-moz-transform: translateY(0);
	}

	100% {
		width: 100px;
		height: 100px;
		background-color:rgb(242,226,8);
		-moz-transform: translateY(-102px);
	}
}


/* Icone chargement end */


/* SLIDER UNIVERSEL start */


.slider-container .carousel{
    max-height: 500px;
}.slider-container .carousel-item{
    max-height: 500px;
}

/* other idea 
.slider-container .carousel-item img{
     max-height: 500px;
  min-width: auto;
}
*/



.slider-container .carousel-control-prev,
.slider-container .carousel-control-next{
    width:5%;
    transition: all .5s;
}

.slider-container .carousel-control-prev:hover,
.slider-container .carousel-control-next:hover{
    background-color:rgba(155,155,155,.5);
}

.slider-container .carousel-caption, 
.slider-container-admin .carousel-caption {
        background-color: rgba(0,0,0,.7);
        left:100px;
        width:20%;
           position: absolute;
    word-wrap: break-word;
}


/* A REVOIR SLIDER RESPONSIVE */

@media (max-width:1199px) {
    .slider-container .carousel{
    max-height:400px;
}.slider-container .carousel-item{
    max-height:400px;
}


@media (max-width:991px) {
    .slider-container .carousel{
    max-height:350px;
}.slider-container .carousel-item{
    max-height:350px;
}
}

@media (max-width:767px) {
    .slider-container .carousel{
    max-height:250px;
}.slider-container .carousel-item{
    max-height:250px;
}
}



@media (max-width:576px) {
    .slider-container .carousel{
    max-height:110px;
}.slider-container .carousel-item{
    max-height:110px;
}
}


}

/* SLIDER UNIVERSEL end */



/* PROJET homepage start */
@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }

}


@media (min-width: 1800px) {
    .projet-mainpage > .container {
        max-width: 80% !important;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .projet-mainpage > .container {
        max-width: 100% !important;
    }
}


.projet-mainpage .card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: block;
    margin-bottom: 20px;
    transition: box-shadow .25s;
}

.projet-mainpage .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.projet-mainpage .card:hover img {
    transform: scale(1.05);
}

.projet-mainpage .img-card {

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    max-height: 300px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .projet-mainpage .img-card {
        height: 300px;

    }
}


/* bgctest 
.projet-mainpage .col-12 .card .img-card{
    height:220px;
    width:100%;
}


.projet-mainpage .col-12 .card .img-card .img-bgc{
      background-size: cover; 
height: 100%;
    width:100%;
-webkit-box-shadow: none; 
box-shadow: none; 
border: 0px; 
border-radius: 0px; 
    transition: all .5s ease;
} 



.projet-mainpage .col-12 .card:hover .img-card .img-bgc{
   transform: scale(1.03);
    transition: all .5s ease;
}   
/* bgctest */




.projet-mainpage .col-12 .card .img-card {
      background-image: linear-gradient(to bottom right, rgba(254, 0, 0, .8) 0, rgba(254, 0, 0, .8) 30%, rgba(254, 212, 42, .8) 30%, rgba(254, 212, 42, .8) 70%, rgba(57, 211, 58, .8) 70%, rgba(57, 211, 58, .8) 100%);
}

.projet-mainpage .col-12:nth-child(2n+2) .card .img-card {
     background-image: linear-gradient(to bottom right, rgba(0, 0, 255,.7) 0, rgba(0, 0, 255,.7) 33.33%, rgba(255,255,255, .7) 33.33%,rgba(255,255,255, .7) 66.66%, rgba(255,0,0, .7) 66.66%, rgba(255,0,0, .7) 100%) !important; 
}

.projet-mainpage .img-card img {


    transition: all .5s ease;
}

.projet-mainpage .card-content {
    padding: 15px;
    text-align: justify;
    line-height: 1.3em;
}

.projet-mainpage .card-title {
    font-size: 1.65em;
    font-weight: 700;
    margin-top: 0px;
    text-align: center;
}

.projet-mainpage .card-title a {
    color: #000;
    text-decoration: none !important;
}

.projet-mainpage .card-read-more {
    border-top: 1px solid #D4D4D4;
}

.projet-mainpage .card-read-more a {
    font-weight: 600;
    padding: 10px;
    text-decoration: none !important;
    text-transform: uppercase
}

/* Projet mainpagesction end */



 /* NEWS homepage start */




@media (min-width: 768px) {
#news-deco-one {


    background: url(../img/african-instruments-background-music-158664.jpeg) no-repeat center fixed;
    background-size: cover;
    opacity: .75;

}

#news-deco-two {


    background: url(../img/african-instruments-background-music-158664.jpeg) no-repeat center fixed;
    background-size: cover;
    opacity: .75;
}
}

.news .titre-news {
    font-size: 1.5rem;
    font-weight: 700;
}


.news .titre-news {
    border-top: 1px solid lightgray;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: -2px;
}

.news small {
    margin-bottom: 10px;
}

/* NEWS end */



/* Section Partners start */

.partners .carousel {
    min-height: 150px;
}



.partners .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.partners .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.partners .carousel-control-prev,
.partners .carousel-control-next{
    width:2.5%;
}
/* Section Partners end */



/**************** 
PAge Accueil Wombere end
******************************/



/*****************************
    QUI SOMMESS-NOUS page start
******************************/
@media screen and (max-width: 480px) {
.qui-sommes-nous p{
    padding: 10px ;
}
}

 /* NOTRE HISTOIRE start */
.style_image_bgc .main{
    background-size: cover; 
    background-position: center;
}

.style_image_bgc  .text{
    background: rgba(255,255,255,.93);
}

@media (max-width: 991px) {
    .style_image_bgc .main {
          background-image: linear-gradient(to bottom right, rgba(254, 0, 0, .8) 0, rgba(254, 0, 0, .8) 33.33%, rgba(254, 212, 42, .8) 33.33%, rgba(254, 212, 42, .8) 66.66%, rgba(57, 211, 58, .8) 66.66%, rgba(57, 211, 58, .8) 100%) !important;
        
}
}

/* Notre histoire end */



/* L'EQUIPE start */

.equipe .admin img{
    width:200px;
    height: 200px;
}

.team-guinee img{
    width:200px;
    height: 200px;
}
.benevole img{
    width:200px;
    height: 200px;
}

/* L'EQUIPE end */


/*****************************
    QUI SOMMESS-NOUS page end
******************************/



/*****************************
    Wombere France page start
******************************/


/*****************************
    Wombere France page end
******************************/



/*****************************
    Wombere Guinée page start
******************************/


/*****************************
    Wombere Guinée page end
******************************/





/**********************************
    Page Projet Handicapable start
***********************************/


/* first banner start */
.header-handicapable {
   color: hsl(203, 89%, 53%);
}



.handicapable_presentation p {
    
    font-size: 1.5em;
    line-height: 1.7em;
}


@media (min-width:1200px) {
   /* .handicapable_presentation .paralax {
        background: url(../img/Troupe-Handicapable.jpg) no-repeat center center;
        background-size: contain;
        background-position: top;
       
    }*/

    .handicapable_presentation p {
        font-size: 1em;

    }
    
}


@media (min-width:1600px) {

    .handicapable_presentation p {
        font-size: 1.5em;

    }
    
   

}

/* first banner end */

/* second banner start */

.story-handicapable{
    
}

.story-handicapable{
    
}

.story-handicapable{
    
}

.story-handicapable{
    
}

.story-handicapable{
    
}

.story-handicapable{
    
}

/* second banner end */



/* Third banner start */


.guinea-handicapable .main{
    background-image: url(../img/atelier-guinee.jpg);
    background-size: cover;
    background-position: bottom
}

.guinea-handicapable  .text{
    background: rgba(255,255,255,.9);
}

@media (max-width: 767px) {
    .guinea-handicapable .main {
        background-image: none;
   /* background-position:center */
}

    /* Third banner end */

}





    /* Banner video youtube start*/

.video-handi{
    /*background-color: rgba(254, 0, 0, .8)*/
    background-color: rgba(57, 211, 58, .8);
}

.video-handi .container-fluid {
    width: 90%;
}

.video-handi {
    background-color:;
}

.video-handi .card {
    border: .2px solid gray;
    margin-bottom: 2em;

}

.video-handi .card-header {
    border-bottom: .5px solid gray;
    font-family: 'Indie Flower';
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.video-handi .card-footer {
    border-top: .5px solid gray;
    font-size:1.1em;
}

/* Banner video youtube end */

    /* Imagegallery Masonry start*/

/**
* Layout styles
*/

.img-grid-custom {
    /*background-color: rgba(57, 211, 58, .8);
    background-color: rgba(254, 0, 0, .8);*/
   padding-left:2.5em
}

@media (min-width:992px){
    .img-grid-custom {
   
    padding-left:5em;
}   
}

@media (max-width:575px){
    
}

.img-grid-custom header {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/**
* Button component
*/

.img-grid-custom .btn {
    border-radius: 2.1875rem;
    border: .5px solid gray;
    bottom: 0;
    color: #111;
    font-size: .8rem;
    height: 50px;
    margin-right: 5px;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    transition: all .25s ease-in-out;
    width: 50px;
}

.img-grid-custom .btn:focus,
.img-grid-custom .btn:hover {
    background-color: #fff;
    border-color: gray;
    color: #111;
}

/**
* Grid styles
*/

.img-grid-custom .item__overlay {
    background-color: rgba(17, 17, 17, 0.25);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color .55s ease-in-out;
    width: 100%;
    z-index: 1000
}

.img-grid-custom .item__overlay:focus,
.img-grid-custom .item__overlay:hover {
    background-color: rgba(17, 17, 17, 0.05);
}

.img-grid-custom .item__overlay:focus > button,
.img-grid-custom .item__overlay:hover > button {
    opacity: 1;
}

.img-grid-custom .grid__sizer,
.img-grid-custom .grid__item {
    min-width: 16.25rem;
    position: relative;
    width: 20%;

}

.img-grid-custom .grid__item {
    border-radius: 0.25rem;
    margin-bottom: .9375rem;
    overflow: hidden;
}

.img-grid-custom .grid__item--high,
.img-grid-custom .grid__item--high img {
    height: 30rem;
}

.img-grid-custom img,
#modalPicture img {
    height: auto;
    max-width: 100%;
    width: 100%;

}

#modalPicture .modal-dialog {
    max-width: 1000px;
}

#modalPicture {
    z-index: 10010
}

.modal-content {
    margin-top: 8em;
}

/**
* Link styles
*/

.img-grid-custom a,
.img-grid-custom .fa {
    color: #bbb;
    transition: color .25s ease-in-out;
}

.img-grid-custom a:focus,
.img-grid-custom a:hover,
.img-grid-custom .fa:focus,
.img-grid-custom .fa:hover {
    color: #666;
    text-decoration: none;
}

.img-grid-custom .active .fa {
    color: #f62459;
}

/* Imagegallery Masonry end*/



/**********************************
    Page Projet Handicapable end
***********************************/



/**********************************
    Page Alseny Solo Cherif start
**********************************/


/* first banner start */
.alseny-presentation {
    background-image: url(../img/alseny-solo-smile-wide.jpg);
    background-size: cover;
    background-position:center;
    
}

.alseny-presentation  .text{
    background: rgba(255,255,255,.9);
}

@media (max-width: 767px) {
    .alseny-presentation .main {
        background-image: none;
   /* background-position:center */
}
}
/* first banner end */




/* second banner start */
.album-alseny {
    background-image: url(../img/images.jpg);
      background-size: contain;
    background-position:center;
    min-height:100%;
}
.album-alseny .container {
}
.album-alseny .row {
}
.album-alseny .row .col-12 {
}



/* second banner end */


/**********************************
    Page Alseny Solo Cherif end
**********************************/

/* FOOTER start */

.footer-hr {
    background-image: linear-gradient(to right, blue 0, blue 33.33%, white 33.33%, white 66.66%, red 66.66%, red 100%);
    height: 3px;
}

.footer {
    /* background-image: linear-gradient(to right, #FE0000 0, #FE0000 33.33%, #FED42A 33.33%,#FED42A 66.66%, #39D33A 66.66%, #39D33A 100%);*/
    background-color: rgba(0, 0, 0, .9);
    color: gainsboro;
    font-family: Roboto;
    font-size: .8em;
}


/* scroll to top */

a.btt {

    background: #ebebeb;
    border-radius: 15px;
    border: .1px solid gray;
    bottom: 30px;
    display: none;
    height: 50px;
    position: fixed;
    right: 30px;
    transition: transform 0.3s ease-in-out;
    width: 50px;
    z-index: 999;
}

a.btt > i {
    color: #191717;
    height: 100%;
    left: 50%;
    position: relative;
    top: 10px;
    transform: translateX(-50%);
}

a.btt:hover {
    transform: translatey(-10%);
}

/* FOOTER end */


/*
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Indie+Flower|Roboto|Poppins|Libre+Baskerville');
*/

/* 

red = #f47c7c
yellow = #f7f48b
green = #a1de93
blue = #70a1d7

*/